.key{
  flex: 1;
  height: 54px;
  border: none;
  border-radius: 2px;
  background-color: rgb(220, 225, 237);
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.keyboard-row{
  display: flex;
  flex-direction: row;
  width: 600px;
  gap: 4px;
}

.keyboard{
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 40px;
}

.key-wide{
  display: flex;
  flex: 1.5;
}

